name: Build

on:
  workflow_run:
    workflows: ["Tests"]   # must match the name: field in tests.yml exactly
    types: [completed]
    branches: [master]

permissions:
  contents: read
  actions: write # needed to upload artifacts

jobs:
  build:
    runs-on: ubuntu-latest

    # Only run if tests passed
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Build

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.141.0"
          extended: true
                          
      - name: Build
        run: hugo --minify

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public
